<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p class=""> Add new Posts</p>

          <button class="btn btn-info bg-theme " routerLink="/post/new"> Add New Post</button>
          <button class="btn btn-warning bg-warning btn-theme ml-5" routerLink="/"> Back to Dashboard </button>

        </div>
      </div>
    </div>
  </div>
</div>
